<h1>{{ encode(this.cat) }}</h1>
<div class="main">
  <mat-card *ngFor="let book of books$ | async">
    <mat-card-header>
      <div mat-card-avatar>{{ book.nr }}</div>
      <mat-card-title>{{ book.titel }}</mat-card-title>
      <mat-card-subtitle>{{ book.autor }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="split" *ngIf="book.formattedFuer">
        <h3>Für:</h3>
        <div class="containerLayout">
          <div
            *ngFor="let fuer of book.formattedFuer"
            [ngStyle]="{ backgroundColor: (fuer | async)?.color }"
          >
            {{ (fuer | async)?.data }}
          </div>
        </div>
      </div>
      <div class="split" *ngIf="book.formattedTags">
        <h3>Sonstiges:</h3>
        <div class="containerLayout">
          <div
            *ngFor="let tag of book.formattedTags"
            [ngStyle]="{ backgroundColor: (tag | async)?.color }"
          >
            {{ (tag | async)?.data }}
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="edit$ | async">
      <button mat-button>Löschen</button>
      <button
        mat-button
        [routerLink]="['edit/', this.cat + ':' + book.meta?.key]"
      >
        Bearbeiten
      </button>
    </mat-card-actions>
  </mat-card>
</div>
