@import "~@angular/material/theming";
mat-card {
  display: flex;
  flex-direction: column;
  mat-form-field {
    width: 100%;
    ::ng-deep .mat-form-field-infix {
        padding: 0 !important;
        border-top: 0;
    }
  }
  lw-tagchooser {
    padding-top: 2rem;
    position: relative;
    display: block;
  }
  mat-card-header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0rem;
    height: 5.5rem;
    .mat-card-avatar {
      width: auto;
      max-width: 5rem;

      height: auto;
      color: grey;
      font-size: 2.3rem;
      text-align: center;
    }
  }
  mat-card-content {
 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 0.5rem;
    .containerLayout {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      div {
        padding: 0.4rem 1rem;
        @include mat-elevation(1);
        font-size: 80%;
        border-radius: 2rem;
        color: white;
      }
    
    }
   
  }
  mat-card-actions {
    margin: auto auto 0 0;
  }
}
